# requirements file
# pip3 install -r requirements.txt
opencv-python
mnemonic
bit
bech32
qrcode
sounddevice
NumPy
psutil
python-gnupg
base58              
bitstring                         
coincurve                         
cryptography                        
diceware                        
ecdsa                          
entrypoints                       
fido2                           
httplib2                       
keyring                        
libsecp256k1                      
mnemonic                         
numpy                         
oauthlib                      
pylibscrypt                     
python-bitcoinlib              
python-dateutil                 
setuptools                   
simplejson               
steganography               
stego-lsb                     
urllib3                      
virtualenv                 
wheel                      
