# requirements file
# pip3 install -r requirements.txt
mnemonic
bit
bech32
qrcode
sounddevice
NumPy
psutil
opencv-python
python-gnupg
base58              
bitstring                         
coincurve                         
cryptography                        
diceware                        
ecdsa                          
entrypoints                       
fastecdsa                       
fido2                           
httplib2                       
keyring                        
libsecp256k1                      
mnemonic                         
numpy                         
oauthlib                      
PyAudio                        
pylibscrypt                     
pyOpenSSL                      
python-bitcoinlib              
python-dateutil                 
setuptools                   
simplejson               
steganography               
stego-lsb                     
urllib3                      
virtualenv                 
wheel                      
json
